
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(./img/BackGround.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*------------------------------------------========= NAV BAR SECTION ==========-----------------------------------------------*/
.nav-bar{
    
    display:flex;
    padding: 20px 110px;    /*using padding it adds space around the nav bar div */

}
.nav-logo img{
    margin-top: -40px;
    width: 200px; /* This is reducing the size of the logo */
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    list-style: none;
    display: inline;
}
.nav-links ul li{
    margin-top: 10px; /* This alloed me to have it in line with the logo */
    list-style: none; /* This adds no style to the list  */
    display:inline-block; /* This adds a block around the nav bar so its in line */
    padding: 10px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: ''; /* This puts an empty content under the links  */
    width:0;
    height: 3px;/* Thickness of the line  */
    background: yellow;
    display: block;
    margin: auto;
    transition: .7s; /* speed of the transition*/
}  
.nav-links ul li:hover::after{
    width: 100%;
}
/*------------------------------------------========= Button ==========-----------------------------------------------*/
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    margin-top: 10px;
    float: right;
}

/*------------------------------------------========= Banner  ==========-----------------------------------------------*/
.banner-tittle{
    margin: 100px 130px; /* This algning the banner*/
    color: #fff;
}
.banner-tittle h1{
    font-size: 64px; /* This algning the banner*/
    margin-bottom: 20px;
}
.banner-tittle h1 span{
    color: yellow;
}
/*------------------------------------------========= ICONS   ==========-----------------------------------------------*/
.v-bar{
    height: 100%; /* This making the bat be all the way down */
    background: black; 
    top: 0; /* This making the top be 0 */
    left: 0; /* This making the side stick to the left with no gap */
    position: absolute; /* */
}
.seach-icon{
    height: 60%;
    width: 80px;
}
.seach-icon .fas{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.social-icon{
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
  
}
.social-icon .fab{
    font-size: medium; /* This making the logos bigger */
    margin: 50px 20px; /* This is adding space betwene all logos and the margin around it*/
    display: block;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50%; /*circulat padding aroud  */
    cursor: pointer;
}
/*------------------------------------------========= NOTIFICATIONS ==========-----------------------------------------------*/

.notifications{  
    display: flex;
    width: 220px;
    right: 0; /* uSING THESE 2 RIGHT AND BOTTOM WE ARE POSITIONING THI AT THE BOTTOMM OF OUR PAGE */
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
    border-radius: 5%;
    
}
.contents{
    flex-basis: 50%;
    padding: 10px;
}
.notifications-img{
    flex-basis: 50%;
}
.notifications-img img{
    width: 100%;
    margin-bottom: 0;   
}
/*------------------------------------------========= NOTIFICATIONS ANKER TAGS ==========-----------------------------------------------*/
.contents a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0px 10px ;
}
.contents p{
    text-align: right;
    margin-top: 10px;

}
/*------------------------------------------========= Meadia ==========-----------------------------------------------*/
@media(max-width:700px){
    .v-bar{
        display: none;
    }
    .banner-tittle{
        margin: 80px 40px;
    }
    .banner-tittle h1{
        font-size: 50px;
    }
    .notifications{
        width: 100%;
    }
}